{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ article.smallTitre }}
{% endblock %}

{% block content %}
		<!-- SECTION -->
		<div class="section">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- Main Column -->
					<div class="col-md-8">

						<!-- breadcrumb -->
						<ul class="article-breadcrumb">
							<li><a href="{% url 'index' %}">actualités</a></li>
							<li><a href="{% url 'category' categorie.name %}">{{ categorie.name }}</a></li>
							<li>{{ article.smallTitre }}</li>
						</ul>
						<!-- /breadcrumb -->
					
						<!-- ARTICLE POST -->
						<article class="article article-post">
							<div class="article-share">
								<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
							</div>
							<div class="article-main-img">
								<img src="{{ article.imagePrincipale.image.url }}" alt="{{ article.imagePrincipale.description }}">
							</div>
							<div class="article-body">
								<ul class="article-info">
									<li class="article-category"><a href="{% url 'category' categorie.name %}">
                                        {{ categorie.name }}</a></li>
									<li class="article-type"><i class="fa fa-file-text"></i></li>
								</ul>
								<h1 class="article-title">{{ article.titre }}</h1>
								<ul class="article-meta">
                                    <li><a href="#"><b>{{ article.publisher }}</b></a></li>
									<li><i class="fa fa-clock-o"></i> {{ article.datePublication|date }}</li>
									<li><i class="fa fa-comments"></i> {{ article.commentaire_set.count }}</li>
								</ul>
                                {% autoescape off %}
                                {{ article.contenu }}
                                {% endautoescape %}
                            </div>
						</article>
						<!-- /ARTICLE POST -->
						
						<!-- widget tags -->
						<div class="widget-tags">
							<ul>
                                {% for tag in tags %}
                                    <li style="background: {{ tag.color }}"><a href="#">{{ tag.name }}</a></li>
                                {% endfor %}
							</ul>
						</div>
						<!-- /widget tags -->
						
						<!-- article comments -->
						<div class="article-comments">
							<div class="section-title">
								<h2 class="title">Comments</h2>
							</div>

                            {% for comment in comments %}
                                <div class="media">
                                    <div class="media-left">
                                        <span class="numberLike" id="numberLike{{ comment.id }}">{{ comment.nombreLike }}</span>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <h5>{{ comment.nomComplet }} <span class="reply-time">{{ comment.datePublication }}</span></h5>
                                        </div>
                                        <p>{{ comment.message }}</p>
                                        <form id="formButtonRepondre{{ comment.id }}">
                                            <button class="reply-btn" type="button" onclick="
                                                    check = $('#repondreForm{{ comment.id }}').css('display');
                                                    if (check == 'none') {
                                                        $( this ).css('background-color', '#000');
                                                        $( this ).css('color', '#FFF');
                                                        $('#repondreForm{{ comment.id }}').css('display', 'block');
                                                    } else {
                                                        $( this ).css('background-color', '#FFF');
                                                        $( this ).css('color', '#000');
                                                        $('#repondreForm{{ comment.id }}').css('display', 'none');
                                                    }">
                                                Répondre
                                            </button>
                                        </form>
                                        <form id="formButtonSignaler{{ comment.id }}">
                                            <button class="reply-btn" type="button" onclick="
                                                    check = $('#signalForm{{ comment.id }}').css('display');
                                                    if (check == 'none') {
                                                        $( this ).css('background-color', '#000');
                                                        $( this ).css('color', '#FFF');
                                                        $('#signalForm{{ comment.id }}').css('display', 'block');
                                                    } else {
                                                        $( this ).css('background-color', '#FFF');
                                                        $( this ).css('color', '#000');
                                                        $('#signalForm{{ comment.id }}').css('display', 'none');
                                                    }">
                                                Signaler
                                            </button>
                                        </form>
                                        <div id="divComment{{ comment.id }}" class="hideC">
                                            <form action="{% url 'like' comment.id %}" method="POST" role="form" class="formLike"
                                                data-validate-username-url="{% url 'like' comment.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="method" value="like">
                                                <input type="hidden" name="type" value="comment">
                                                <button class="btnLike"><i class="fa fa-thumbs-up"></i></button>
                                            </form>
                                            <form action="{% url 'like' comment.id %}" method="POST" role="form" class="formLike"
                                                data-validate-username-url="{% url 'like' comment.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="method" value="dislike">
                                                <input type="hidden" name="type" value="comment">
                                                <button class="btnDislike"><i class="fa fa-thumbs-down"></i></button>
                                            </form>
                                        </div>
                                        <form action="{% url 'signal' comment.id %}" method="POST" role="form" class="formSignal"
                                                data-validate-username-url="{% url 'signal' comment.id %}"
                                                id="signalForm{{ comment.id }}">
                                            {% csrf_token %}
                                            {{ signalForm.email }}
                                            {{ signalForm.motif }}
                                            <input type="hidden" name="type" value="comment">
                                            <button class="reply-btn">Envoyer</button>
                                        </form>
                                        <p id="messageSignal{{ comment.id }}" class="label label-info label-signal"></p>
                                        <form action="{% url 'repondre' comment.id %}" method="POST" role="form" class="formRepondre"
                                                data-validate-username-url="{% url 'repondre' comment.id %}"
                                                id="repondreForm{{ comment.id }}">
                                            {% csrf_token %}
                                            {{ replyForm.name }}
                                            {{ replyForm.email }}
                                            <button class="reply-btn">Publier</button>
                                            {{ replyForm.message }}
                                        </form>
                                    </div>
                                {% for reponse in comment.reponse_set.all %}

                                        <div class="media">
                                            <div class="media-left">
                                                <span class="numberLike" id="numberLike{{ reponse.id }}">{{ reponse.nombreLike }}</span>
                                            </div>
                                            <div class="media-body">
                                                <div class="media-heading">
                                                    <h5>{{ reponse.nomComplet }} <span class="reply-time">{{ reponse.datePublication }}</span></h5>
                                                </div>
                                                <p>{{ reponse.message }}</p>
                                                <form id="formButtonSignaler{{ reponse.id }}">
                                                    <button class="reply-btn" type="button" onclick="
                                                            check = $('#signalForm{{ reponse.id }}').css('display');
                                                            if (check == 'none') {
                                                                $( this ).css('background-color', '#000');
                                                                $( this ).css('color', '#FFF');
                                                                $('#signalForm{{ reponse.id }}').css('display', 'block');
                                                            } else {
                                                                $( this ).css('background-color', '#FFF');
                                                                $( this ).css('color', '#000');
                                                                $('#signalForm{{ reponse.id }}').css('display', 'none');
                                                            }">
                                                        Signaler
                                                    </button>
                                                </form>
                                                <div id="divComment{{ reponse.id }}" class="hideC">
                                                    <form action="{% url 'like' reponse.id %}" method="POST" role="form" class="formLike"
                                                        data-validate-username-url="{% url 'like' reponse.id %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="method" value="like">
                                                        <input type="hidden" name="type" value="reponse">
                                                        <button class="btnLike"><i class="fa fa-thumbs-up"></i></button>
                                                    </form>
                                                    <form action="{% url 'like' reponse.id %}" method="POST" role="form" class="formLike"
                                                        data-validate-username-url="{% url 'like' reponse.id %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="method" value="dislike">
                                                        <input type="hidden" name="type" value="reponse">
                                                        <button class="btnDislike"><i class="fa fa-thumbs-down"></i></button>
                                                    </form>
                                                </div>
                                                <form action="{% url 'signal' reponse.id %}" method="POST" role="form" class="formSignal"
                                                        data-validate-username-url="{% url 'signal' reponse.id %}"
                                                        id="signalForm{{ reponse.id }}">
                                                    {% csrf_token %}
                                                    {{ signalForm.email }}
                                                    {{ signalForm.motif }}
                                                    <input type="hidden" name="type" value="reponse">
                                                    <button class="reply-btn">Envoyer</button>
                                                </form>
                                                <p id="messageSignal{{ reponse.id }}" class="label label-info label-signal"></p>
                                            </div>
                                        </div>
                                {% endfor %}
                                </div>
                            {% endfor %}

                            <div id="addNewComment">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="numberLike">0</span>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <h5 id="addNewCommentH5">
                                                <span class="reply-time" id="addNewCommentSpan"></span>
                                            </h5>
                                        </div>
                                        <p id="addNewCommentP"></p>
                                    </div>
                                </div>
                            </div>

                        </div>
						<!-- /article comments -->
						
						<!-- reply form -->
                        <p id="messageComment" class="label label-success"></p>
						<div class="article-reply-form" id="article-reply-form">
							<div class="section-title">
								<h2 class="title">Laissez un commentaire</h2>
							</div>
								
							<form action="{% url 'comment' article.id %}" method="POST" id="commentForm" role="form"
                                data-validate-username-url="{% url 'comment' article.id %}">
                                    {% csrf_token %}
                                {{ replyForm.name }}
                                {{ replyForm.email }}
                                {{ replyForm.message }}
								<button class="input-btn">Envoyer</button>
							</form>
						</div>
						<!-- /reply form -->
					</div>
					<!-- /Main Column -->
					
					<!-- Aside Column -->
					<div class="col-md-4">
						{% include 'journal/aside.html' %}
                    </div>
						<!-- /article widget -->
					</div>
					<!-- /Aside Column -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /SECTION -->
		
		<!-- AD SECTION -->
		<div class="visible-lg visible-md">
			<img class="center-block" src="{% static 'journal/img/ad-3.jpg' %}" alt="">
		</div>
		<!-- /AD SECTION -->
		
		<!-- SECTION MORE ARTICLE -->
		<div class="section moreArticle">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- Main Column -->
					<div class="col-md-12">
						<!-- section title -->
						<div class="section-title">
							<h2 class="title">PLUS DE L'AUTEUR</h2>
						</div>
						<!-- /section title -->
						
						<!-- row -->
						<div class="row">
                            {% for n in moreArticle %}
                                {% if forloop.counter < 5 %}
                                    <!-- Column -->
                                    <div class="col-md-3 col-sm-6">
                                        <!-- ARTICLE -->
                                        <article class="article">
                                            <div class="article-img">
                                                <a href="{% url 'post' n.categorie.name n.id %}">
                                                    <img src="{{ n.imagePrincipale.image.url }}" alt="{{ n.imagePrincipale.description }}">
                                                </a>
                                                <ul class="article-info">
                                                    <li class="article-type"><i class="fa {{ n.categorie.icon }}"></i></li>
                                                </ul>
                                            </div>
                                            <div class="article-body">
                                                <h4 class="article-title"><a href="{% url 'post' n.categorie.name n.id %}">
                                                    {{ n.smallTitre }}</a></h4>
                                                <ul class="article-meta">
                                                    <li><i class="fa fa-clock-o"></i> {{ n.datePublication }}</li>
                                                    <li><i class="fa fa-comments"></i> {{ n.commentaire_set.count }}</li>
                                                </ul>
                                            </div>
                                        </article>
                                        <!-- /ARTICLE -->
                                    </div>
                                    <!-- /Column -->
                                {% endif %}
                            {% endfor %}
						</div>
						<!-- /row -->
					</div>
					<!-- /Main Column -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /SECTION -->

{% endblock %}