<html>
    <head>
        <meta charset="utf8">
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>

        <p>Uploaded files:</p>
          <ul>
            {% for img in images %}
              <li>
                <a href="{{ img.image.url }}">{{ img.image.name }}</a>
                <small>(Uploaded at: {{ img.uploaded_at }})</small>
              </li>
            {% endfor %}
          </ul>
    </body>
</html>