{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Trending Now -->
    <div class="trendingNow">
        <div class="container">
            <div class="title">
                Trending Now
            </div>
            <div class="news">
                <span>
                    Amazon’s Apple Watch killer will be free and sell you everything
                </span>
            </div>
        </div>
    </div>
    <!-- /Trending Now -->

		<!-- Owl Carousel 1 -->
        <div class="container">
		<div id="owl-carousel-1" class="owl-carousel owl-theme center-owl-nav">
            {% for n in newscar %}
			<!-- ARTICLE -->
			<article class="article thumb-article">
				<div class="article-img">
					<img src="{{ n.imagePrincipale.image.url }}" alt="{{ n.imagePrincipale.description }}">
				</div>
				<div class="article-body">
					<ul class="article-info">
						<li class="article-category"><a href="{% url 'category' n.categorie.name %}">{{ n.categorie.name }}</a></li>
						<li class="article-type"><i class="fa {{ n.categorie.icon }}"></i></li>
					</ul>
					<h2 class="article-title"><a href="{% url 'post' n.categorie n.id %}">{{ n.smallTitre }}</a></h2>
					<ul class="article-meta">
						<li><i class="fa fa-clock-o"></i> {{ n.datePublication }}</li>
						<li><i class="fa fa-comments"></i> {{ n.commentaire_set.count }}</li>
					</ul>
				</div>
			</article>
			<!-- /ARTICLE -->
            {% endfor %}
            </div>
        </div>
		<!-- /Owl Carousel 1 -->

		<!-- SECTION TRENDING -->
		<div class="section tendance">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- Main Column -->
					<div class="col-md-12">
						<!-- section title -->
						<div class="section-title">
							<h2 class="title">Tendance</h2>
							<!-- tab nav -->
							<ul class="tab-nav pull-right">
								<li class="active"><a data-toggle="tab" href="#tabAll">All</a></li>
                                {% for cat in categories %}
							        <li><a data-toggle="tab" href="#{{ cat.tabHome }}">{{ cat.name }}</a></li>
                                {% endfor %}
							</ul>
							<!-- /tab nav -->
						</div>
						<!-- /section title -->

						<!-- Tab content -->
						<div class="tab-content">
							<!-- tabAll -->
							<div id="tabAll" class="tab-pane fade in active">
                                {% for t in tendance %}
                                    {% if forloop.counter == 1 or forloop.counter == 5 %}
                                        <div class="row">
                                    {% endif %}
                                    {% if forloop.counter < 5 %}
                                        <!-- Column -->
                                        <div class="col-md-3 col-sm-6">
                                            <!-- ARTICLE -->
                                            <article class="article">
                                                <div class="article-img">
                                                    <a href="{% url 'post' t.categorie.name t.id %}">
                                                        <img src="{{ t.imagePrincipale.image_thumbnail.url }}" alt="{{ t.imagePrincipale.description }}">
                                                    </a>
                                                    <ul class="article-info">
                                                        <li class="article-type"><i class="fa {{ t.categorie.icon }}"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="article-body">
                                                    <h4 class="article-title"><a href="{% url 'post' t.categorie.name t.id %}">
                                                        {{ t.smallTitre }}.
                                                    </a></h4>
                                                    <ul class="article-meta">
                                                        <li><i class="fa fa-clock-o"></i> {{ t.datePublication }}</li>
                                                        <li><i class="fa fa-comments"></i> {{ t.commentaire_set.count }}</li>
                                                    </ul>
                                                </div>
                                            </article>
                                            <!-- /ARTICLE -->
                                        </div>
                                        <!-- /Column -->
                                    {% else %}
                                        {% if forloop.counter == 5 or forloop.counter == 7 or forloop.counter == 9 %}
                                            <!-- Column  -->
                                            <div class="col-md-4 col-sm-6">
                                        {% endif %}
                                        <!-- ARTICLE -->
                                            <article class="article widget-article">
                                                <div class="article-img">
                                                    <a href="{% url 'post' t.categorie.name t.id %}">
                                                        <img src="{{ t.imagePrincipale.image_thumbnail.url }}"
                                                             alt="{{ t.imagePrincipale.description }}">
                                                    </a>
                                                </div>
                                                <div class="article-body">
                                                    <h4 class="article-title"><a href="{% url 'post' t.categorie.name t.id %}">
                                                        {{ t.smallTitre }}</a></h4>
                                                    <ul class="article-meta">
                                                        <li><i class="fa fa-clock-o"></i> {{ t.datePublication }}</li>
                                                        <li><i class="fa fa-comments"></i> {{ t.commentaire_set.count }}</li>
                                                    </ul>
                                                </div>
                                            </article>
                                            <!-- /ARTICLE -->
                                        {% if forloop.counter == 6 or forloop.counter == 8 or forloop.counter == 10 %}
                                            </div>
                                            <!-- /Column  -->
                                        {% endif %}
                                    {% endif %}
                                    {% if forloop.counter == 4 or forloop.counter == 10 %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
							</div>
                            <!-- /tabAll -->
                            <!-- tab Sports -->
                            <div id="tabSp" class="tab-pane fade in">
                                {% for t in tsports %}
                                    <!-- Column {{ forloop.counter }} -->
                                    {% if forloop.counter == 1 or forloop.counter == 5 %}
                                        <div class="row">
                                    {% endif %}
                                    <div class="col-md-3 col-sm-6">
                                        <!-- ARTICLE -->
                                        <article class="article">
                                            <div class="article-img">
                                                <a href="{% url 'post' t.categorie.name t.id %}">
                                                    <img src="{{ t.imagePrincipale.image_thumbnail.url }}" alt="{{ t.imagePrincipale.description }}">
                                                </a>
                                                <ul class="article-info">
                                                    <li class="article-type"><i class="fa {{ t.categorie.icon }}"></i></li>
                                                </ul>
                                            </div>
                                            <div class="article-body">
                                                <h4 class="article-title"><a href="{% url 'post' t.categorie.name t.id %}">
                                                    {{ t.smallTitre }}</a></h4>
                                                <ul class="article-meta">
                                                    <li><i class="fa fa-clock-o"></i> {{ t.datePublication }}</li>
                                                    <li><i class="fa fa-comments"></i> {{ t.commentaire_set.count }}</li>
                                                </ul>
                                            </div>
                                        </article>
                                        <!-- /ARTICLE -->
                                    </div>
                                    {% if forloop.counter == 4 or forloop.counter == 8 %}
                                        </div>
                                    {% endif %}
                                    <!-- /Column{{ forloop.counter }} -->
                                {% endfor %}
							</div>
							<!-- /tab Sports -->
                            <!-- tab Technologie -->
                            <div id="tabTec" class="tab-pane fade in">
                                {% for t in ttec %}
                                    <!-- Column{{ forloop.counter }} -->
                                    {% if forloop.counter == 1 or forloop.counter == 5 %}
                                        <div class="row">
                                    {% endif %}
                                    <div class="col-md-3 col-sm-6">
                                        <!-- ARTICLE -->
                                        <article class="article">
                                            <div class="article-img">
                                                <a href="{% url 'post' t.categorie.name t.id %}">
                                                    <img src="{{ t.imagePrincipale.image_thumbnail.url }}" alt="{{ t.imagePrincipale.description }}">
                                                </a>
                                                <ul class="article-info">
                                                    <li class="article-type"><i class="fa {{ t.categorie.icon }}"></i></li>
                                                </ul>
                                            </div>
                                            <div class="article-body">
                                                <h4 class="article-title"><a href="{% url 'post' t.categorie.name t.id %}">
                                                    {{ t.smallTitre }}</a></h4>
                                                <ul class="article-meta">
                                                    <li><i class="fa fa-clock-o"></i> {{ t.datePublication }}</li>
                                                    <li><i class="fa fa-comments"></i> {{ t.commentaire_set.count }}</li>
                                                </ul>
                                            </div>
                                        </article>
                                        <!-- /ARTICLE -->
                                    </div>
                                    {% if forloop.counter == 4 or forloop.counter == 8 %}
                                        </div>
                                    {% endif %}
                                    <!-- /Column{{ forloop.counter }} -->
                                {% endfor %}
							</div>
							<!-- /tab Technologie -->
                            <!-- tab Style de vie -->
                            <div id="tabSV" class="tab-pane fade in">
                                {% for t in tstyledevie %}
                                    <!-- Column{{ forloop.counter }} -->
                                    {% if forloop.counter == 1 or forloop.counter == 5 %}
                                        <div class="row">
                                    {% endif %}
                                    <div class="col-md-3 col-sm-6">
                                        <!-- ARTICLE -->
                                        <article class="article">
                                            <div class="article-img">
                                                <a href="{% url 'post' t.categorie.name t.id %}">
                                                    <img src="{{ t.imagePrincipale.image_thumbnail.url }}" alt="{{ t.imagePrincipale.description }}">
                                                </a>
                                                <ul class="article-info">
                                                    <li class="article-type"><i class="fa {{ t.categorie.icon }}"></i></li>
                                                </ul>
                                            </div>
                                            <div class="article-body">
                                                <h4 class="article-title"><a href="{% url 'post' t.categorie.name t.id %}">{{ t.smallTitre }}</a></h4>
                                                <ul class="article-meta">
                                                    <li><i class="fa fa-clock-o"></i> {{ t.datePublication }}</li>
                                                    <li><i class="fa fa-comments"></i> {{ t.commentaire_set.count }}</li>
                                                </ul>
                                            </div>
                                        </article>
                                        <!-- /ARTICLE -->
                                    </div>
                                    {% if forloop.counter == 4 or forloop.counter == 8 %}
                                        </div>
                                    {% endif %}
                                    <!-- /Column{{ forloop.counter }} -->
                                {% endfor %}
							</div>
							<!-- /tab Style de vie -->
                            <!-- tab Economie -->
                            <div id="tabEco" class="tab-pane fade in">
                                {% for t in teco %}
                                    <!-- Column{{ forloop.counter }} -->
                                    {% if forloop.counter == 1 or forloop.counter == 5 %}
                                        <div class="row">
                                    {% endif %}
                                    <div class="col-md-3 col-sm-6">
                                        <!-- ARTICLE -->
                                        <article class="article">
                                            <div class="article-img">
                                                <a href="{% url 'post' t.categorie.name t.id %}">
                                                    <img src="{{ t.imagePrincipale.image_thumbnail.url }}" alt="{{ t.imagePrincipale.description }}">
                                                </a>
                                                <ul class="article-info">
                                                    <li class="article-type"><i class="fa {{ t.categorie.icon }}"></i></li>
                                                </ul>
                                            </div>
                                            <div class="article-body">
                                                <h4 class="article-title"><a href="{% url 'post' t.categorie.name t.id %}">{{ t.smallTitre }}</a></h4>
                                                <ul class="article-meta">
                                                    <li><i class="fa fa-clock-o"></i> {{ t.datePublication }}</li>
                                                    <li><i class="fa fa-comments"></i> {{ t.commentaire_set.count }}</li>
                                                </ul>
                                            </div>
                                        </article>
                                        <!-- /ARTICLE -->
                                    </div>
                                    {% if forloop.counter == 4 or forloop.counter == 8 %}
                                        </div>
                                    {% endif %}
                                    <!-- /Column{{ forloop.counter }} -->
                                {% endfor %}
							</div>
							<!-- /tab Economie -->
                            <!-- tab Internationnal -->
                            <div id="tabInter" class="tab-pane fade in">
                                {% for t in tinter %}
                                    <!-- Column{{ forloop.counter }} -->
                                    {% if forloop.counter == 1 or forloop.counter == 5 %}
                                        <div class="row">
                                    {% endif %}
                                    <div class="col-md-3 col-sm-6">
                                        <!-- ARTICLE -->
                                        <article class="article">
                                            <div class="article-img">
                                                <a href="{% url 'post' t.categorie.name t.id %}">
                                                    <img src="{{ t.imagePrincipale.image_thumbnail.url }}" alt="{{ t.imagePrincipale.description }}">
                                                </a>
                                                <ul class="article-info">
                                                    <li class="article-type"><i class="fa {{ t.categorie.icon }}"></i></li>
                                                </ul>
                                            </div>
                                            <div class="article-body">
                                                <h4 class="article-title"><a href="{% url 'post' t.categorie.name t.id %}">
                                                    {{ t.smallTitre }}</a></h4>
                                                <ul class="article-meta">
                                                    <li><i class="fa fa-clock-o"></i> {{ t.datePublication }}</li>
                                                    <li><i class="fa fa-comments"></i> {{ t.commentaire_set.count }}</li>
                                                </ul>
                                            </div>
                                        </article>
                                        <!-- /ARTICLE -->
                                    </div>
                                    {% if forloop.counter == 4 or forloop.counter == 8 %}
                                        </div>
                                    {% endif %}
                                    <!-- /Column{{ forloop.counter }} -->
                                {% endfor %}
							</div>
							<!-- /tab Internationnal -->
						</div>
						<!-- /tab content -->
					</div>
					<!-- /Main Column -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /SECTION TRENDING -->

		<!-- SECTION LAST ADD -->
		<div class="section">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- Main Column -->
					<div class="col-md-8">
						<!-- row -->
						<div class="row">
							<!-- Column Internationnal -->
							<div class="col-md-6 col-sm-6">
								<!-- section title -->
								<div class="section-title">
									<h2 class="title">Internationnal</h2>
								</div>
								<!-- /section title -->

								<!-- ARTICLES -->
                                {% for n in lastInter %}
                                    {% if forloop.first %}
                                        <!-- ARTICLE -->
                                        <article class="article">
                                            <div class="article-img">
                                                <a href="{% url 'post' n.categorie.name n.id %}">
                                                    <img src="{{ n.imagePrincipale.image_thumbnail.url }}"
                                                         alt="{{ n.imagePrincipale.description }}">
                                                </a>
                                                <ul class="article-info">
                                                    <li class="article-type"><i class="fa fa-ravelry"></i></li>
                                                </ul>
                                            </div>
                                            <div class="article-body">
                                                <h3 class="article-title"><a href="{% url 'post' n.categorie.name n.id %}">
                                                    {{ n.smallTitre }}</a></h3>
                                                <ul class="article-meta">
                                                    <li><i class="fa fa-clock-o"></i> {{ n.datePublication }}</li>
                                                    <li><i class="fa fa-comments"></i> {{ n.commentaire_set.count }}</li>
                                                </ul>
                                                <p>{{ n.resume }}</p>
                                            </div>
                                        </article>
                                        <!-- /ARTICLE -->
                                    {% else %}
                                        <!-- ARTICLE -->
                                            <article class="article widget-article">
                                                <div class="article-img">
                                                    <a href="{% url 'post' n.categorie.name n.id %}">
                                                        <img src="{{ n.imagePrincipale.image_thumbnail.url }}"
                                                             alt="{{ n.imagePrincipale.description }}">
                                                    </a>
                                                </div>
                                                <div class="article-body">
                                                    <h4 class="article-title"><a href="{% url 'post' n.categorie.name n.id %}">
                                                        {{ n.smallTitre }}</a></h4>
                                                    <ul class="article-meta">
                                                        <li><i class="fa fa-clock-o"></i> {{ n.datePublication }}</li>
                                                        <li><i class="fa fa-comments"></i> {{ n.commentaire_set.count }}</li>
                                                    </ul>
                                                </div>
                                            </article>
								        <!-- /ARTICLE -->
                                    {% endif %}
                                {% endfor %}
								<!-- /ARTICLES -->
							<!-- /Column Internationnal -->
                            </div>
							<!-- Column Economie -->
							<div class="col-md-6 col-sm-6">
								<!-- section title -->
								<div class="section-title">
									<h2 class="title">Economie</h2>
								</div>
								<!-- /section title -->

								<!-- ARTICLES -->
                                {% for n in lastEco %}
                                    {% if forloop.first %}
                                        <!-- ARTICLE -->
                                        <article class="article">
                                            <div class="article-img">
                                                <a href="{% url 'post' n.categorie.name n.id %}">
                                                    <img src="{{ n.imagePrincipale.image_thumbnail.url }}"
                                                         alt="{{ n.imagePrincipale.description }}">
                                                </a>
                                                <ul class="article-info">
                                                    <li class="article-type"><i class="fa fa-ravelry"></i></li>
                                                </ul>
                                            </div>
                                            <div class="article-body">
                                                <h3 class="article-title"><a href="{% url 'post' n.categorie.name n.id %}">{{ n.smallTitre }}</a></h3>
                                                <ul class="article-meta">
                                                    <li><i class="fa fa-clock-o"></i> {{ n.datePublication }}</li>
                                                    <li><i class="fa fa-comments"></i> {{ n.commentaire_set.count }}</li>
                                                </ul>
                                                <p>{{ n.resume }}</p>
                                            </div>
                                        </article>
                                        <!-- /ARTICLE -->
                                    {% else %}
                                        <!-- ARTICLE -->
                                            <article class="article widget-article">
                                                <div class="article-img">
                                                    <a href="{% url 'post' n.categorie.name n.id %}">
                                                        <img src="{{ n.imagePrincipale.image_thumbnail.url }}"
                                                             alt="{{ n.imagePrincipale.description }}">
                                                    </a>
                                                </div>
                                                <div class="article-body">
                                                    <h4 class="article-title"><a href="{% url 'post' n.categorie.name n.id %}">{{ n.smallTitre }}</a></h4>
                                                    <ul class="article-meta">
                                                        <li><i class="fa fa-clock-o"></i> {{ n.datePublication }}</li>
                                                        <li><i class="fa fa-comments"></i> {{ n.commentaire_set.count }}</li>
                                                    </ul>
                                                </div>
                                            </article>
								        <!-- /ARTICLE -->
                                    {% endif %}
                                {% endfor %}
								<!-- /ARTICLES -->
							</div>
							<!-- /Column Economie -->
						</div>
						<!-- /row -->

                        <!-- Section News -->
                        <div class="row">
							<!-- section title -->
							<div class="col-md-12">
								<div class="section-title">
									<h2 class="title">News</h2>
								</div>
							</div>
                        {% for n in lastNews %}
                            {% if forloop.counter == 3 %}
                                <div class="row">
                            {% endif %}

                            {% if forloop.counter < 3 %}
                                <!-- Column  -->
							    <div class="col-md-6 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="{% url 'post' n.categorie.name n.id %}">
											<img src="{{ n.imagePrincipale.image.url }}" alt="{{ n.imagePrincipale.description }}">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-file-text"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h3 class="article-title"><a href="{% url 'post' n.categorie.name n.id %}">{{ n.smallTitre }}</a></h3>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> {{ n.datePublication }}</li>
											<li><i class="fa fa-comments"></i> {{ n.commentaire_set.count }}</li>
										</ul>
										<p>{{ n.resume }}</p>
									</div>
								</article>
								<!-- /ARTICLE -->
							    </div>
							    <!-- /Column  -->
                            {% else %}
                                <!-- Column  -->
							    <div class="col-md-4 col-sm-4">
                                    <!-- ARTICLE -->
                                    <article class="article">
                                        <div class="article-img">
                                            <a href="{% url 'post' n.categorie.name n.id %}">
                                                <img src="{{ n.imagePrincipale.image_thumbnail.url }}" alt="{{ n.imagePrincipale.description }}">
                                            </a>
                                            <ul class="article-info">
                                                <li class="article-type"><i class="fa fa-file-text"></i></li>
                                            </ul>
                                        </div>
                                        <div class="article-body">
                                            <h4 class="article-title"><a href="{% url 'post' n.categorie.name n.id %}">
                                                {{ n.smallTitre }}</a></h4>
                                            <ul class="article-meta">
                                                <li><i class="fa fa-clock-o"></i> {{ n.datePublication }}</li>
                                                <li><i class="fa fa-comments"></i> {{ n.commentaire_set.count }}</li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- /ARTICLE -->
							    </div>
							    <!-- /Column  -->
                            {% endif %}

                            {% if forloop.counter == 2 or forloop.last %}
                                </div>
                            {% endif %}

                        {% endfor %}
					</div>
                        <!-- /Section News -->
					<!-- /Main Column -->

					<!-- Aside Column -->
					<div class="col-md-4">
						{% include 'journal/aside.html' %}
					</div>
					<!-- /Aside Column -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
        </div>
		<!-- /SECTION LAST ADD -->

		<!-- AD SECTION -->
		<div class="visible-lg visible-md">
			<img class="center-block" src="{% static 'journal/img/ad-3.jpg' %}" alt="">
		</div>
		<!-- /AD SECTION -->

		<!-- SECTION Videos Populaires -->
		<div class="section videoP">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- Main Column -->
					<div class="col-md-12">
						<!-- section title -->
						<div class="section-title">
							<h2 class="title">Videos Populaires</h2>
							<div id="nav-carousel-2" class="custom-owl-nav pull-right"></div>
						</div>
						<!-- /section title -->

						<!-- owl carousel 2 -->
						<div id="owl-carousel-2" class="owl-carousel owl-theme">
                            {% for v in topVideo %}
                                <!-- ARTICLE -->
                                <article class="article thumb-article">
                                    <div class="article-img">
                                        <img src="{{ v.imagePrincipale.image_video.url }}" alt="{{ v.imagePrincipale.description }}">
                                    </div>
                                    <div class="article-body">
                                        <ul class="article-info">
                                            <li class="article-category"><a href="{% url 'video' %}">
                                                Videos</a></li>
                                            <li class="article-type"><i class="fa fa-video-camera"></i></li>
                                        </ul>
                                        <h3 class="article-title"><a href="{% url 'video_show' v.id %}">
                                            {{ v.smallTitre }}</a></h3>
                                        <ul class="article-meta">
                                            <li><i class="fa fa-clock-o"></i> {{ v.datePublication }}</li>
                                            <li><i class="fa fa-comments"></i> {{ v.commentaire_set.count }}</li>
                                        </ul>
                                    </div>
                                </article>
                                <!-- /ARTICLE -->
                            {% endfor %}
						</div>
						<!-- /owl carousel 2 -->
					</div>
					<!-- /Main Column -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /SECTION Videos Populaires -->

		<!-- SECTION RECENT ADD -->
		<div class="section">
			<!-- CONTAINER -->
			<div class="container">
				<!-- ROW -->
				<div class="row">
					<!-- Main Column -->
					<div class="col-md-8">
						<!-- section title -->
						<div class="section-title">
                            <a class="title" href="{% url 'lastArticles' %}">Ajoutés récemment</a>
						</div>
						<!-- /section title -->
                        <!-- section Article -->
                        {% for n in lastAdd %}
                            <!-- ARTICLE -->
                            <article class="article row-article last-add-article">
                                <div class="article-img">
                                    <a href="{% url 'post' n.categorie.name n.id %}">
                                        <img src="{{ n.imagePrincipale.image.url }}" alt="{{ n.imagePrincipale.description }}">
                                    </a>
                                </div>
                                <div class="article-body">
                                    <ul class="article-info">
                                        <li class="article-category"><a href="{% url 'category' n.categorie.name %}">
                                            {{ n.categorie }}</a></li>
                                        <li class="article-type"><i class="fa {{ n.categorie.icon }}"></i></li>
                                    </ul>
                                    <h3 class="article-title"><a href="{% url 'post' n.categorie.name n.id %}">
                                        {{ n.smallTitre }}</a></h3>
                                    <ul class="article-meta">
                                        <li><i class="fa fa-clock-o"></i> {{ n.datePublication }}</li>
                                        <li><i class="fa fa-comments"></i> {{ n.commentaire_set.count }}</li>
                                    </ul>
                                    <p>{{ n.resume }}</p>
                                </div>
                            </article>
                            <!-- /ARTICLE -->
                        {% endfor %}
                        <!-- /section Article -->

						<!-- pagination -->
						<div class="article-pagination">
							<ul>
								<li class="active"><a href="{% url 'lastArticles' %}">1</a></li>
								<li><a href="{% url 'lastArticles' %}">2</a></li>
								<li><a href="{% url 'lastArticles' %}">3</a></li>
								<li><a href="{% url 'lastArticles' %}">...</a></li>
							</ul>
						</div>
						<!-- /pagination -->
					</div>
					<!-- /Main Column -->

					<!-- Aside Column -->
					<div class="col-md-4">
						<!-- widget dernières vidéos -->
						<div class="widget">
							<div class="widget-title">
								<h2 class="title">dernières vidéos</h2>
							</div>

							<!-- owl carousel 4 -->
							<div id="owl-carousel-4" class="owl-carousel owl-theme">
                                {% for v in lastAddVideo %}
                                    <!-- ARTICLE -->
                                    <article class="article thumb-article">
                                        <div class="article-img">
                                            <img src="{{ v.imagePrincipale.image_video.url }}" alt="{{ v.imagePrincipale.description }}">
                                        </div>
                                        <div class="article-body">
                                            <ul class="article-info">
                                                <li class="article-category"><a href="{% url 'video' %}">
                                                    videos</a></li>
                                                <li class="article-type"><i class="fa fa-video-camera"></i></li>
                                            </ul>
                                            <h3 class="article-title"><a href="{% url 'video_show' v.id %}">
                                                {{ v.smallTitre }}</a></h3>
                                            <ul class="article-meta">
                                                <li><i class="fa fa-clock-o"></i> {{ v.datePublication }}</li>
                                                <li><i class="fa fa-comments"></i> {{ v.commentaire_set.count }}</li>
                                            </ul>
                                        </div>
                                    </article>
                                    <!-- /ARTICLE -->
                                {% endfor %}
							</div>
							<!-- /owl carousel 4 -->
						</div>
						<!-- /widget dernières vidéos -->

						<!-- widget dernières photos -->
						<div class="widget galery-widget">
							<div class="widget-title">
								<h2 class="title">dernières photos</h2>
							</div>
							<ul>
                                {% for i in lastAddImage %}
                                    <li><a href="#"><img src="{{ i.image_thumbnail.url }}" alt="{{ i.description }}"></a></li>
                                {% endfor %}
							</ul>
						</div>
						<!-- /widget dernières photos -->

						<!-- comments widget -->
						<div class="widget tweets-widget">
							<div class="widget-title">
								<h2 class="title">dernièrs commentaires</h2>
							</div>
							<ul>
                                {% for c in lastAddComment %}
                                    <li class="tweet">
                                        <i class="fa fa-comments"></i>
                                        <div class="tweet-body">
                                            <p>
                                                <span>{{ c.nomComplet }}</span>
                                                {{ c.message|truncatewords:10 }}
                                                <a href="{% url 'post' c.news.categorie.name c.news.id %}">{{ c.news.smallTitre }}</a></p>
                                        </div>
                                    </li>
                                {% endfor %}
							</ul>
						</div>
						<!-- /comments widget -->
					</div>
					<!-- /Aside Column -->
				</div>
				<!-- /ROW -->
			</div>
			<!-- /CONTAINER -->
		</div>
		<!-- /SECTION -->

{% endblock %}

{% block script %}
{% endblock %}